body{
    font-family: "Julius Sans One", sans-serif;
    background-color: #31363F;;
}

.signup-container{
    display: flex;
}

.logo-div{
    width: 40%;
    display: flex;
    align-items: center;
    height: 100vh;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.welcome h1{
    font-size: 50px;
    margin-bottom: 0;
}

.welcome h3{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 400;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    color: white;
}

input#username{
    height: 30px;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 20px;
    color: black;
}

input#confirmPassword{
    height: 30px;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 20px;
    color: black;
}

input#email{
    height: 30px;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 20px;
    color: black;
}

input#password{
    height: 30px;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 20px;
    color: black;
}

.signup-form button{
    background: none;
    border: none;
    font-family: "Julius Sans One", sans-serif;
    color: white;
    cursor:pointer;
    font-size: larger;
    margin-bottom: 50px;
}

.signup-form a{
    color: white;
    text-decoration: none;
}


