*{
    color: white;
}

.main-container{
    display: flex;
}

.user-details{
    width: 30%;
    height: 80.5vh;
    background-color: #31363F;
}

.empty-user-img{
    width: 75px;
    border-radius: 50%;
    padding: 10px;
}

.timeline-container{
    width: 70%;
    background-color: #222831;
}

.user-detail-section{
    display: flex;
}

a{
    text-decoration: none;
}

.user-detail.section{
    padding-top: 20px;
    padding-left: 10px;
}

.user-detail.section2{
    margin-bottom: 10px
}

.user-details input{
    margin-top: 20px;
    margin-left: 10px;
    width: 80%;
    height: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: aliceblue;
}

button#search {
    height: 29px;
    border: 1px solid black;
    color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: aliceblue;
}

.browse-catalog{
    padding-left: 10px
}