#background-MoviePreview {
    position: relative;
    width: 10rem;
    /* background-color: #D9D9D9; */
    border-radius: 1rem;

}

#image-MoviePreview {
    border-radius: 1rem;
    width: 10rem;
    

}

#title-MoviePreview {
    position: absolute;
    bottom: 1%;
}