.user-container {
  padding-left: 60px;
  padding-top: 20px;
  display: flex;
  gap: 50px;
}

.user-container h1 {
  margin-bottom: 0;
}

.user-container p {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Khand", sans-serif;
  display: flex;
  gap: 50px;
}

.user-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-container a {
  padding-right: 10px;
}

.profile-picture {
  width: 250px;
  border-radius: 50%;
}

@media (max-width: 430px) {
  .user-container {
    padding-left: 0;
  }
}

@media (max-width: 853px) {
  /* looks good to me */
}
