#mainContainer-PreReview {
  position: relative;
  background-color: #868686;
  border-radius: 1rem;
  width: 70vw;
  padding: 1rem;
  
  display: flex;
  flex-flow: row nowrap;
  align-items: top;
}

#leftContainer-PreReview {
  width: 20%;
}

#rightContainer-PreReview {
  padding: 0 1rem;
  width: 80%;
}

#reviewTitle-PreReview {
  margin: 0 auto;
  
}

#movieImage-PreReview {
  border-radius: 1rem;
  height: 10rem;
  object-fit: cover;
  
  box-shadow: 0 0 10px white;
}

#bodyContainer-PreReview {
    z-index: 2;
}

.blurReview-PreReview {
    color: rgba(0,0,0,0);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.follow-button{
  color: black;
  height: 20px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;  
}

.delete-button{
  color: black;
  height: 20px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;  
  margin: 5px;
}

.name-PreReview {
  color: rgb(42, 241, 255);
  font-size: 1rem;

}