#mainContainer-PreReview {
  position: relative;
  background-color: #868686;
  border-radius: 1rem;
  width: 70vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#leftContainer-PreReview {
  width: 20%;
}

#rightContainer-PreReview {
  width: 80%;
}
#movieImage-PreReview {
  border-radius: 1rem;
  height: 8rem;
  margin: 1rem;
  box-shadow: 0 0 10px white;
}

#bodyContainer-PreReview {
    z-index: 2;
}

.blurReview-PreReview {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.normalReview-PreReview {
   
}

#title-PreReview {
   
}
