.following {
  padding-left: 60px;
  font-family: "Khand", sans-serif;
  font-size: larger;
}

.following-container {
  padding-left: 60px;
}

.following-users {
  display: flex;
  gap: 10px;
  align-items: center;
}

.following-p {
  font-size: small;
}

.following-pictures{
  width: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}

@media (max-width: 430px) {
  .following-container {
    padding-left: 0;
  }
}

@media (max-width: 853px) {
  .following-container {
    text-align: center;
    padding-left: 0;
    padding-top: 70px;
  }

  .following{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}
