.movie-page  {
   
    
}

#mainContain-Movie {
    padding: 0 0 80px 0;
    background-color: #31363F;
}

#title-Movie{
    text-align: center;
    margin: 1rem auto;
}

#image-Movie {
    width: 12rem;
    margin: 4rem;   
}
#reviewContainer-Movie {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
}

#h1-Movie {
    text-align: center;
}

.write-a-review{
    padding-left: 180px;
}