#background-Footer {
    background-color:#76ABAE ;
    position: fixed;
    bottom: 0%;
    height: 8%;
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: center;
    
    
}

#brand-Footer {
   margin: 0 1rem;
    
}