#background-Footer {
  background-color: #76abae;
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  height: 60px;
  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.github-footer {
  height: 40px;
}

#brand-Footer {
  margin-right: 1em;
  position: absolute;
  right: 0;
}
