.search-form {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 70vw;
  font-size: 18px;
  letter-spacing: 0.1px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 40px;
}

.search-input::placeholder {
  letter-spacing: 0.3px;
}

.search-result-image {
  width: 100px;
  border-radius: 20px;
}

.search-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-input {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 25px;
  margin-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
  color: black;
  background-color: aliceblue;
  font-size: small;
  font-family: "Julius Sans One", sans-serif;
}

.search-button {
  width: 20%;
  height: 27px;
  border: 1px solid black;
  color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: aliceblue;
  margin-right: 10px;
}

.user-details form{
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.results{
  text-align: center;
}